$header-color: #fff;
$sidebar-color: #fff;
$font-color: #444;
$dark-font-color: #000;
$border-color: #ddd;
$border: 1px solid $border-color;
$transition-duration: .2s;
$primary-color: #2bd3c6;
$primary-color-darker: #5ee0d6;
$primary-color-darkest: #26b8ad;
$box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
